<div class= "top"></div>

<h1>ようこそBookersへ!</h1>

<%= form_with model: @home do |f| %>

<div class= "top-text">

<p>"Bookersでは、さまざまな書籍に関するあなたの意見や"<br>
"印象を共有し交換することができます"</p>

<%= link_to "start", books_path %>

<% end %>